* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

.header {
    text-align: center;
    padding: 32px;
}

.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}


/* Create four equal columns that sits next to each other */

.column {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column div {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.center {
    margin: auto;
    width: 50%;
    /* border: 3px solid green; */
    padding: 10px;
}

.textCenter {
    text-align: center;
}

.textLeft {
    text-align: left;
}

.textColor {
    color: white;
}

.tile {
    border-style: solid;
    border-width: thin;
    border-color: #FFFFFF;
    border-radius: 15px;
    height: 250px;
    width: 250px;
    background-color: rgb(8, 9, 73);
    color: white;
    text-align: center;
    margin: 6px;
}

#noData {
    text-align: center;
    color: rgb(8, 9, 73);
}


/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 800px) {
    .tile {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .tile {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}